{
  "presets": [
    [

      "next/babel",
      {
        "styled-jsx": {
          "plugins": [
            [
              "styled-jsx-plugin-sass",
              { "sassOptions": { "indentedSyntax": true, "includePaths": [ "./src/styles" ] } }
            ]
          ]
        }
      }

    ]
  ]
}
