@import 'styles/colors'
@import 'styles/mixins'
@import 'styles/dimensions'


.image-wrapper
  position: absolute

  $height: '(82% - 15px)'
  height: calc(#{$height})
  top: calc((100% - #{$height}) / 2)

  $width: '(82% - 15px)'
  width: calc(#{$width})
  left: calc((100% - #{$width}) / 2)


// Generate a set of responsive rules based on how much of the viewport's width the dark section
   occupies. Pass a value like 0.6 to indicate that the dark section is 60vw wide. nh is nav height.
@mixin responsive-content-scale($dark-section-width-ratio, $nh)
  padding: (20px + $nh) calc(5px + #{5.5vw * $dark-section-width-ratio}) 4em
  font-size: 19px
  font-size: min(max(calc(2.5px + #{4.2vw * $dark-section-width-ratio}), 12px), 24px)

  h1
    font-size: 48px
    font-size: min(max(calc(13px + #{8.8vw * $dark-section-width-ratio}), 30px), 60px)


.content-wrapper
  max-width: 730px
  font-size: 28px
  @include font-weight(400)
  line-height: 1.33em
  color: transparentize($white, .5)

  &:not(.mobile)
    padding: (75px + $nav-height) 100px 4em

    @media (max-width: 1200px)//  and (min-aspect-ratio: 40001/30000) // Approximate inverse of max-aspect-ratio: 4/3
      @include responsive-content-scale(0.6, $nav-height)

  &.mobile
    padding: (75px + $mobile-nav-height) 100px 4em
    max-width: none

    @media (max-width: 720px)
      @include responsive-content-scale(1.0, $mobile-nav-height)


  .age,
  :global(.stat)
    font-variant-numeric: tabular-nums
    color: transparentize($white, .3)
    @include font-weight(550, -.06em)

  :global(.overscroll-trigger)
    margin-top: 3.5em

  h1
    margin-top: 0
    font-size: 68px
    line-height: 1.2em
    margin-bottom: 20px
    @include font-weight(730)
    color: $white

    :global(.gradient)
      @include gradient-text

  // &:not(.mobile) h1 :global(.gradient)
  //   @include gradient-text

  &.mobile .first-content
    display: flex
    margin-bottom: 1em

    .text
      flex: 1 0 50%
      width: 50%

      \:last-child
        margin-bottom: 0

    .mobile-headshot
      flex: 1 1 50%
      padding-top: 8px
      padding-left: 10px

      & > div
        position: relative
        width: 100%
        height: 100%

  p
    margin: 0 0 1em

  a
    color: inherit

  strong
    @include font-weight(650)

  ul,
  ol
    margin: -0.25em 0 1em

    li
      margin: 0 0 .25em

  ul
    list-style-type: square

  & > :last-child
    margin-bottom: 0

  :global
    .no-wrap
      white-space: nowrap
