@import 'styles/colors'
@import 'styles/fonts'
@import 'styles/mixins'
@import 'styles/dimensions'


// Desktop - LightContent container for headshot image


.image-wrapper
  position: absolute

  $height: '(82% - 15px)'
  height: calc(#{$height})
  top: calc((100% - #{$height}) / 2)

  $width: '(82% - 15px)'
  width: calc(#{$width})
  left: calc((100% - #{$width}) / 2)


// Responsive typography and padding


// Generate a set of responsive rules based on how much of the viewport's width the dark section
   occupies. Pass a value like 0.6 to indicate that the dark section is 60vw wide. nh is nav height.
   The values this uses are appropriate for smaller window sizes, in general.
@mixin responsive-content-scale($dark-section-width-ratio, $nh)
  font-size: 19px
  font-size: max(12px, min(calc(2.5px + #{4.2vw * $dark-section-width-ratio}), 24px))
  padding-top: 20px + $nh
  padding-left: calc(5px + #{5.5vw * $dark-section-width-ratio} + env(safe-area-inset-left))
  padding-right: calc(5px + #{5.5vw * $dark-section-width-ratio})

  h1
    font-size: 48px
    font-size: max(30px, min(calc(13px + #{8.8vw * $dark-section-width-ratio}), 60px))

// Default font-size styles
.content-wrapper
  font-size: 26px
  font-size: min(calc(12px + 1vw), 26px)

  h1
    font-size: 68px
    font-size: min(calc(25px + 3vw), 68px)

// Desktop (landscape, two-column) layout styles
.content-wrapper:not(.mobile)
  padding: (65px + $nav-height) 80px 4em
  padding: min(#{$nav-height} + 20px + 3vw, #{65px + $nav-height}) min(calc(40px + 3vw), 100px) 4em
  padding-left: min(calc(40px + 3vw + env(safe-area-inset-left)), calc(100px + env(safe-area-inset-left)))
  // Right padding shouldn't be affected by notch since the dark panel doesn't go up to the right
  // edge.
  // On small screens, override default font-size styles and reduce padding
  @media (max-width: 1000px)
    @include responsive-content-scale(0.6, $nav-height)

// Mobile (portrait, single-column) layout styles
.content-wrapper.mobile
  padding: (75px + $mobile-nav-height) 80px $mobile-nav-height
  padding: (75px + $mobile-nav-height) min(calc(40px + 5vw), 100px) $mobile-nav-height
  // On small screens, override default font-size styles and reduce padding
  @media (max-width: 720px)
    @include responsive-content-scale(1.0, $mobile-nav-height)


// The rest of it


.content-wrapper
  max-width: 730px
  @include font-weight(400)
  line-height: 1.33em
  color: transparentize($white, .5)

  &.mobile
    max-width: none

  .age,
  :global(.stat)
    font-variant-numeric: tabular-nums
    color: transparentize($white, .3)
    @include font-weight(550, -.06em)

  :global(.overscroll-trigger)
    margin-top: 3.5em

  h1
    margin-top: 0
    line-height: 1.2em
    margin-bottom: .4em
    @include font-weight(730)
    color: $white

    :global(.gradient)
      @include gradient-text

  // &:not(.mobile) h1 :global(.gradient)
  //   @include gradient-text

  &.mobile .first-content
    display: flex
    margin-bottom: 1em

    .text
      flex: 1 0 50%
      width: 50%

      \:last-child
        margin-bottom: 0

    .mobile-headshot
      flex: 1 1 50%
      padding-top: 8px
      padding-left: 10px

      & > div
        position: relative
        width: 100%
        height: 100%

  p
    margin: 0 0 1em

  a
    color: inherit

  strong
    @include font-weight(650)

  ul,
  ol
    margin: -0.25em 0 1em

    li
      margin: 0 0 .25em

  ul
    list-style-type: square

  :global
    .no-wrap
      white-space: nowrap

.swipe-instructions
  font-family: $font-manrope
  @include font-weight(700)
  font-size: #{(16em / 18)}
  letter-spacing: -0.00125em
  color: $white
  @include gradient-text
  user-select: none

  text-align: center
  margin: 5em 0

  @media not all and (hover: none)
    display: none
