@font-face
  font-family: 'Manrope Variable'
  font-weight: 100 900
  font-style: normal
  src: url('/static/fonts/Manrope-Variable-Subset.woff2') format('woff2')
  font-display: swap

@font-face
  font-family: 'Inter Variable'
  font-weight: 100 900
  font-style: normal
  src: url('/static/fonts/Inter-Variable-Subset.woff2') format('woff2')
  font-feature-settings: 'calt', 'ss03'
  font-display: swap
