@import '../../styles/colors.sass'
@import '../../styles/fonts.sass'
@import '../../styles/mixins.sass'
@import '../../styles/dimensions.sass'

$h1-line-height: 75px
$top-padding: 40px


.contact-page
  padding: $top-padding 60px 0

  h1
    font-size: 72px
    line-height: $h1-line-height
    margin-top: 0
    margin-bottom: 60px
    @include font-weight(750)



.dark-content
  padding-top: $nav-height + $top-padding
  text-align: right
  padding-bottom: 80px

  h1
    margin-top: $h1-line-height // line up with second line of right side title

  ul
    display: inline-block
    list-style-type: none
    padding: 0
    margin: 0
    font-size: 20px

    li
      margin-bottom: 12px
      color: transparentize($white, .15)

      a
        padding: 4px 0

      &:first-child a
        padding-top: 0

      &:last-child a
        padding-bottom: 0

      & > a > svg[class]
        margin-left: .6em


.light-content
  form
    display: flex
    flex-direction: column
    align-items: stretch
    justify-content: flex-start

    .row
      display: flex
      flex-direction: row
      margin-bottom: 20px

      & > *
        flex: 1 1 0
        width: 0
        min-width: 0

        &:not(:last-child)
          margin-right: 10px

  input,
  textarea
    background: none
    border: none
    outline: 0
    resize: none
    font-family: $font-inter
    font-size: 24px
    color: transparentize($black, .1)
    @include font-weight(500)

    &::placeholder
      color: transparentize($black, .7)

    &:focus::placeholder
      color: transparentize($black, .6)

  input
    padding: .2em 0
    margin-top: -.2em

  button
    font-size: 20px
    @include font-weight(650)
