@import colors

.gradient
  position: absolute
  top: 50%
  left: 50%
  width: 72%
  height: 78%
  background: linear-gradient(135deg, $gradient-1, $gradient-2)
  transform: translate(-50%, -55%)
  opacity: .75
