.images-container
  section
    height: 200vh
    box-shadow: 0 0 0 1px red

    div.image
      display: block
      width: 65%
      padding-bottom: 50%
      background-size: contain
      background-position: center
      background-repeat: no-repeat
      height: auto
