@import 'colors.sass'

$menu-width: 380px
$nav-height: 80px

.panels-layout
  position: relative
  // The width of the window, plus space for a menu on either side
  width: calc(100% + #{$menu-width} * 2)
  left: -$menu-width

  display: grid
  grid-template-rows: [top] minmax(100vh, min-content) [bottom] // at least window height; grow to fit content
  grid-template-columns: [menu-left] $menu-width [viewport-left] repeat(4, 1fr [fifth]) 1fr [viewport-right] $menu-width [menu-right]

  .panel.light
    position: sticky // Allows fixed position without removal from the grid layout
    top: 0
    height: 100vh
    grid-column: viewport-left / span 2

    background: $white
    color: $black

  .dark-content
    overflow: hidden // take full height of content
    grid-column: fifth 2 / span 3

    color: $white
    padding-top: $nav-height

  .menu
    position: sticky
    top: 0
    height: 100vh

  .menu.left
    grid-column: menu-left / viewport-left

  .menu.right
    grid-column: viewport-right / menu-right
