@import 'styles/colors.sass'
@import 'styles/fonts.sass'
@import 'styles/dimensions.sass'
@import 'styles/mixins.sass'


.panels-layout
  position: relative
  z-index: 2
  // The width of the window, plus space for a menu on either side
  width: calc(100vw + #{$menu-width} * 2)
  margin-left: -$menu-width
  margin-right: -$menu-width

  display: grid
  grid-template-rows: [top] minmax(100vh, min-content) [bottom] // at least window height; grow to fit content
  grid-template-columns: [menu-left] $menu-width [viewport-left] repeat(4, 1fr [fifth]) 1fr [viewport-right] $menu-width [menu-right]

  @media (max-aspect-ratio: 4/3)
    // fifths become fourths; fifth 2 and fifth 3 are both in the center of the window
    grid-template-columns: [menu-left] $menu-width [viewport-left] 1fr [fifth] 1fr [fifth] 0 [fifth] 1fr [fifth] 1fr [viewport-right] $menu-width [menu-right]


  .panel.light
    position: sticky // Allows fixed position without removal from the grid layout
    z-index: 6
    top: 0
    height: 100vh
    @supports (-webkit-hyphens: none) // Safari ONLY: this breaks in chrome
      height: -webkit-fill-available
    grid-column: viewport-left / span 2 // this is overridden in JSX
    grid-row: top / bottom

    background: $white
    color: $black

  &.panel-on-left .panel.light
    grid-column: viewport-left / fifth 2

  &.panel-on-right .panel.light
    grid-column: fifth 3 / viewport-right

  &.panel-full .panel.light
    grid-column: viewport-left / viewport-right
    // it can scroll
    position: relative
    height: auto
    min-height: 100vh

    .content
      position: relative
      width: 100%
      min-height: 100%

    .nav-cover + .content
      top: 0 // position is relative
      min-height: calc(100% - #{$nav-height})


  .panel.dark
    position: relative
    z-index: 5
    grid-column: fifth 2 / span 3 // this is overridden in JSX
    grid-row: top / bottom

    color: $white

  &.panel-on-left .panel.dark
    grid-column: fifth 2 / viewport-right

  &.panel-on-right .panel.dark
    grid-column: viewport-left / fifth 3

  .panel.dark .content
    position: relative
    width: 100%
    min-height: 100%

  .panel.light .content
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0

  .nav-cover
    position: sticky
    top: 0
    left: 0
    width: 100%
    height: $nav-height
    z-index: 100

  .panel.light .nav-cover
    background: $white

  .panel.light .nav-cover + .content
    top: $nav-height


  :global
    .menu
      position: sticky
      top: 0
      height: 100vh

      &.left
        grid-column: menu-left / viewport-left

      &.right
        grid-column: viewport-right / menu-right

  .menu-close-target
    position: relative
    grid-column: viewport-left / viewport-right
    grid-row: top / bottom
    z-index: 10
    cursor: pointer

@import 'menu-button'
