@import 'colors.sass'


.panels-layout
  width: 100vw
  min-height: 100vh
  overflow: hidden
  transform: none
  transition: transform .35s

// Background colors behind content

.panels-background
  position: fixed
  top: 0
  left: 0
  z-index: 1
  width: 100vw
  height: 100vh
  background: $black

  .panel-bg
    top: 0
    height: 100vh

    // Dark panel is full width, it sits behind.
    &.dark
      position: absolute
      z-index: 1
      left: 0
      width: 100vw

    // light panel is fixed in front of dark panel
    &.light
      position: fixed
      z-index: 2
      left: 0
      width: 40vw
      background: $white
      transform: none
      transform-origin: left center
      transition: transform .5s ease, width .5s ease

// When the white panel appears on the right
.panels-layout.panel-on-right
  .panel-bg.light
    transform: translateX(100vw) translateX(-100%)

// When the white panel appears on the left
.panels-layout.panel-on-left
  .panel-bg.light
    transform: none

// When the white panel occupies the entire screen
.panels-layout.panel-full
  .panel-bg.light
    transform: scaleX(2.5)


// Content in front of panels

.panels-content
  position: relative
  z-index: 2
  top: 0
  left: 0
  width: 100vw
  transition: transform .5s ease


// Menu

.panels-layout
  & :global(nav.menu)
    position: fixed
    z-index: 3
    top: 0
    transition: transform .5s ease

  // Menu appears on left side for most orientations
  &:not(.panel-on-right) :global(nav.menu)
    left: 0
    transform: translate(-100%)

  // Menu moves to right side when the panel is on the right
  &.panel-on-right :global(nav.menu)
    right: 0
    transform: translate(100%)

  &.menu-open
    cursor: pointer

    .panels-background,
    .panels-content
      pointer-events: none

    & :global(nav.menu)
      transform: none

    // Slide panel over when menu opens
    .panel-bg.light
      transform: translate(380px)

    &.panel-on-right .panel-bg.light
      transform: translateX(100vw) translateX(-100%) translate(-380px)

    &.panel-full .panel-bg.light
      transform: translate(380px) scaleX(2.5)
