@import includes
@import colors

body
  font-family: 'Manrope Variable'
  background: $black
  margin: 0
  padding: 0


#app
  .nav-bar
    position: fixed
    z-index: 2
    top: 0
    left: 0
    width: 100vw

  .panels-layout
    position: absolute
    z-index: 1
