@import 'styles/colors'


// .scroll-area-spacer div
//   box-shadow: 0 0 0 1px transparentize($white, .95)


.parallax-container
  position: sticky
  top: 0
  width: 100%
  height: 100vh
  margin-bottom: -100vh
  overflow: hidden

  .skew-container
    width: 100%
    height: 100%

.parallax-section
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100vh

.parallax-image
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  will-change: transform

  // &:hover
  //   box-shadow: 0 0 0 2px transparentize($gradient-1, .25)

  & > div
    position: relative
    box-shadow: 0 5px 20px -5px transparentize($black, .8)
    overflow: hidden

    img
      position: relative
      z-index: 1
      transition: opacity .15s
